<phpunit stderr="true" bootstrap="tests/lib/bootstrap.php">
  <testsuites>
    <testsuite name="unit">
      <directory>tests/tests_unit</directory>
    </testsuite>
    <testsuite name="web">
      <file>tests/tests_web/InstallationTest.php</file>
      <!--<file>tests/tests_web/AuthTest.php</file>-->
      <file>tests/tests_web/UsersTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>