@import "components/fonts";
@import "components/reset";
@import "components/misc";
@import "components/shiv";
@import "components/nprogress";
@import "components/headlines";
@import "components/typography";
@import "components/text";
@import "components/nav";
@import "components/btn";
@import "components/form";
@import "components/dragula";
@import "components/dropzone";
@import "components/dropload";
@import "components/message";
@import "components/tags";
@import "components/modal";
@import "components/instruction";
@import "components/dashboard";
@import "components/dropdown";
@import "components/icon";
@import "components/avatar";
@import "components/hgroup";
@import "components/file";
@import "components/items";
@import "components/breadcrumb";
@import "components/languages";
@import "components/pagination";
@import "components/grid";
@import "components/topbar";
@import "components/sidebar";
@import "components/files";
@import "components/subpages";
@import "components/fileview";
@import "components/search";
@import "components/fileselector";
@import "components/main";
@import "components/autocomplete";
@import "components/fontawesome";
@import "components/pikaday";


body.loading:before {
  position: fixed;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(30,30,30, .8);
  z-index: 10000000;
}
body.loading:after {
  position: fixed;
  content: "";
  top: 50%;
  left: 50%;
  width: 2em;
  height: 2em;
  margin-left: -1em;
  margin-top: -1em;
  border-radius: 50%; 
  background: #fff url(../images/loader.black.gif) no-repeat center center;
  z-index: 10000000;
}