body.loading:before,
body.over:before {
  position: fixed;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(30,30,30, .8);
  z-index: 10000000;
}
body.loading:after,
body.over:after {
  position: fixed;  
  top: 50%;
  left: 50%;
  z-index: 10000000;
}

body.over * {
  pointer-events: none;
}
body.loading:after {
  content: "";
  width: 2em;
  height: 2em;
  margin-left: -1em;
  margin-top: -1em;
  border-radius: 50%; 
  background: #fff url(../images/loader.black.gif) no-repeat center center;
}
body.over:after {
  content: "\f0ee";
  font-family: "FontAwesome";
  color: #fff;
  font-size: 3em;
  width: 3em;
  height: 1em;
  margin-left: -1.5em;
  margin-top: -.5em;
  text-align: center;
}