.search {
  width: 20em;
}
.search:after {
  border-bottom-color: #8dae28;
}
.search-results {
  background: #000;
}
.search-input {
  width: 100%;
  padding: .75em 1em;
  border: 0;
  background: #8dae28;
}
.search-section {
  padding: .5em;
  border-bottom: 1px solid rgba(255,255,255, .2);
}
.search-section:last-child {
  border-bottom: 0;
}
.search-section li > a {
  padding: .5em 1em;
  line-height: 1em;
  color: #fff;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search-section li.active a {
  color: #8dae28;
}
.search-section .icon {
  width: 2em;
  text-align: left;
}