/* CodeMirror */
.CodeMirror {
  font-size: 16px;
  line-height: 1.5em;
  height: auto;
  background: #fff;
  padding: .25em;
  border: 2px solid #ddd;
}
.CodeMirror-focused {
  border-color: #8dae28;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

/* Kirby Theme */

/* Cursor */
.cm-s-kirby div.CodeMirror-cursor { 
  border-left: 1px solid #222; 
}

/* selection */
.cm-s-kirby .CodeMirror-selected {
  background: #b3d4fd;
}

/* Dark Grey */
.cm-s-kirby                    { color:#000; }
.cm-s-kirby span.cm-header     { font-weight:600;}
.cm-s-kirby span.cm-variable-2 { color:#000; }

/* Medium Grey */
.cm-s-kirby span.cm-meta       { color:#000; }
.cm-s-kirby span.cm-hr         { color:#777;}

/* Lighter Grey */
.cm-s-kirby span.cm-comment    { color:#000; font-family: 'Courier'; font-size: .95em; }
.cm-s-kirby span.cm-qualifier  { color:#777; font-family: 'Courier'; font-size: .95em; }

/* Dark Blue/Green */
.cm-s-kirby span.cm-number     { color: #000; }
.cm-s-kirby span.cm-variable   { color: #000; }
.cm-s-kirby span.cm-builtin    { color: #000; }

/* Medium Blue/Green */
.cm-s-kirby span.cm-string     { color: #000; }
.cm-s-kirby span.cm-string-2   { color: #000; }
.cm-s-kirby span.cm-quote      { color: #000;}
.cm-s-kirby span.cm-atom       { color: #000; }

/* Turtle Green */
.cm-s-kirby span.cm-property   { color: #000; }
.cm-s-kirby span.cm-operator   { color: #000; }
.cm-s-kirby span.cm-variable-3 { color: #000; }

/* Light Turtle Green */
.cm-s-kirby span.cm-attribute  { color: #000; }
.cm-s-kirby span.cm-def        { color: #000; }

/* Brick */
.cm-s-kirby span.cm-keyword    { color: #000; }
.cm-s-kirby span.cm-bracket    { color: #000; }
.cm-s-kirby span.cm-link       { color: #8dae28; text-decoration: none; border-bottom: 1px solid #ddd;}
.cm-s-kirby span.cm-tag        { color: #000; }

/* Darker Brick */
.cm-s-kirby span.cm-error      { color:#000; }

.cm-s-kirby span.cm-em         { font-style:italic; }
.cm-s-kirby span.cm-strong     { font-weight:600; }