.grid__item {
  display: inline-block;
  width: 100%;
  padding: 0 .75em;
  vertical-align: top;
}
.grid--full {
  margin: 0;
}
.grid--full .grid__item {
  padding: 0;
}
.one-whole      { width: 100%; }
.one-half       { width: 50%; }
.one-third      { width: 33.33%; }
.one-quarter    { width: 25%; }
.one-fifth      { width: 20%; }
.one-sixth      { width: 16.66%; }
.two-thirds     { width: 66.66%; }
.two-quarters   { width: 50%; }
.two-fifths     { width: 40%; }
.two-sixths     { width: 33.33%; }
.three-quarters { width: 75%; }
.three-fifths   { width: 60%; }
.three-sixths   { width: 50%; }
.four-sixths    { width: 66.66%; }
.four-fifths    { width: 80%; }
.five-sixths    { width: 83.33%; }

@media (max-width: 1024px) {
  .lap-one-whole      { width: 100%; }
  .lap-one-half       { width: 50%; }
  .lap-one-third      { width: 33.33%; }
  .lap-one-quarter    { width: 25%; }
  .lap-one-fifth      { width: 20%; }
  .lap-one-sixth      { width: 16.66%; }
  .lap-two-thirds     { width: 66.66%; }
  .lap-two-quarters   { width: 50%; }
  .lap-two-fifths     { width: 40%; }
  .lap-two-sixths     { width: 33.33%; }
  .lap-three-quarters { width: 75%; }
  .lap-three-fifths   { width: 60%; }
  .lap-three-sixths   { width: 50%; }
  .lap-four-sixths    { width: 66.66%; }
  .lap-four-fifths    { width: 80%; }
  .lap-five-sixths    { width: 83.33%; }
}

@media (max-width: 500px) {
  .palm-one-whole      { width: 100%; }
  .palm-one-half       { width: 50%; }
  .palm-one-third      { width: 33.33%; }
  .palm-one-quarter    { width: 25%; }
  .palm-one-fifth      { width: 20%; }
  .palm-one-sixth      { width: 16.66%; }
  .palm-two-thirds     { width: 66.66%; }
  .palm-two-quarters   { width: 50%; }
  .palm-two-fifths     { width: 40%; }
  .palm-two-sixths     { width: 33.33%; }
  .palm-three-quarters { width: 75%; }
  .palm-three-fifths   { width: 60%; }
  .palm-three-sixths   { width: 50%; }
  .palm-four-sixths    { width: 66.66%; }
  .palm-four-fifths    { width: 80%; }
  .palm-five-sixths    { width: 83.33%; }
}