.tagbox {
  position: relative;
}
.tagbox .visuallyhidden {
  border:0!important;
  clip:rect(0 0 0 0)!important;
  height:1px!important;
  margin:-1px!important;
  overflow:hidden!important;
  padding:0!important;
  position: absolute!important;
  width:1px!important;  
}
.tagbox__list {
  margin: 0 0 -.2em 0;
}
.tagbox__tag, .tagbox__field {
  display: inline-block;
  list-style: none;
}
.tagbox__tag {
  position: relative;
  background: #000;
  color: #fff;
  margin: 0 4px 4px 0;
  cursor: pointer;
  line-height: 1em;
  border-radius: 2px;
}
.tagbox__tag.selected {
  background: #8dae28;
}
.tagbox__tag__name {
  display: inline-block;
  font-weight: 300;
  line-height: 1em;
  padding: .45em 2.5em .45em 1em;
  font-size: .9em;
}
.tagbox__tag__killer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: none;
  border: 0;
  color: #fff;
  width: 2.25em;
  line-height: 1.7em;
  background: rgba(255,255,255, .2);
  font-weight: 300;
  outline: 0;
  cursor: pointer;
}
.tagbox__input {
  border: 0;
  background: none;
  outline: none;
  font-size: .9em;
  margin-bottom: .2em;
  margin-left: .2em;
  padding: .2em 0;
}